/* .container {
    margin: auto;
    width: 400px;
    height: 400px;
} */

.boxy-container {
    margin: auto;
    width: 570px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
    border: solid 10px black;
}

.boxy {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#refresh {
    cursor: pointer;
}

.boxy-center {
    width: 250px;
    height: 150px;
}

img {
    max-width:100%;
    height:auto;
}

.refresh {
    max-width: 50%;
    max-height: 50%;
    margin:auto;
}